body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #A7ABDE, #B9E3E4);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #152238;
    margin-top: 50px;
}

.header-image {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 50px;
}
